
@{
    ViewData["Title"] = "dangNhap";
}

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="p-3 shadow">
            <h3 class="text-center text-success">ĐĂNG NHẬP</h3>
            <form method="post" asp-action="dangNhap">
                <input class="form-control" type="text" name="email" placeholder="Email" required><br>
                <input class="form-control" type="password" name="matkhau" placeholder="Mật khẩu" required><br>
                <div class="d-grid">
                    <input class="btn btn-success btn-block" type="submit" value="Đăng nhập">
                </div>
            </form>
            <div class="my-3 text-center">Chưa có tài khoản? <a asp-action="dangKy">Đăng ký</a></div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>

