
@{
    ViewData["Title"] = "hoSoKhachHang";
}

@if (ViewBag.khachHang != null)
{
    <h3>Chào @ViewBag.khachHang.Ten!</h3>
    <p>Đang cập nhật...</p>
    <p><a asp-action="dangXuat">Đăng xuất</a></p>
}
else
{
    <p>Vui lòng <a asp-action="dangNhap">Đăng nhập</a></p>
}


