
@{
    ViewData["Title"] = "hoSoKhachHang";
}

@if (ViewBag.khachHang != null)
{
<<<<<<< HEAD
        <section class="py-5">
            <div class="container">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <h3 class="mb-4 text-center">Chi Tiết Khách Hàng</h3>
                        <div class="mb-3">
                            <strong>Họ tên:</strong>
                        <span>@ViewBag.khachHang.Ten</span>
                        </div>
                        <div class="mb-3">
                            <strong>Email:</strong>
                        <span>@ViewBag.khachHang.Email</span>
                        </div>
                        <div class="mb-3">
                            <strong>Số điện thoại:</strong>
                        <span>@ViewBag.khachHang.DienThoai</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <p><a class="btn btn-success" asp-action="dangXuat">Đăng xuất</a></p>
=======
    <h3>Chào @ViewBag.khachHang.Ten!</h3>
    <p>Đang cập nhật...</p>
    <p><a asp-action="dangXuat">Đăng xuất</a></p>
>>>>>>> 26d88eb8f67e1ba111b21353b4a5b097661c70d7
}
else
{
    <p>Vui lòng <a asp-action="dangNhap">Đăng nhập</a></p>
}

<<<<<<< HEAD
=======

>>>>>>> 26d88eb8f67e1ba111b21353b4a5b097661c70d7
